/* colors */
.softYellow{
  background: #fffff5;
}
.softPink{
  background: #fefaff;
}
.lightGray{
  background-color: #ebebeb;
}
.dark{
  background: #1f1f1f;
}
.almostWhitebutNot{
  background-color: #fcfcfc;
}
.minty{
  background-color: #8da8a3;
}
.seaFoam{
  background-color: #c5d4d1;
}
.purple-ish{
  background-color: #948d96;
}
.sage{
  background-color: #cad9ce;
}
.brown {
  background-color: #967e65;
}
.black{
  background-color: black;
}
.colorFromMe {
  background-color: #756c57;
}
.darkBlueBlack {
  background-color: #15141a;
}
.darkerBlueBlack {
  background-color: #101012;
}
